.garage{
    background: #c2a6c4;
    height: 100vh;
    display: none;
   
}

.garage-page {
    display: flex;
    padding-top: 5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
}



.email{
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.email input{
     border: 1px solid black;
     height: 3rem;
    text-align: center;
    width: 15%;
   
}



.btns{
    width: 10%;
    height: 3rem;
    background: black;
    color: aliceblue;
    border: none;
    transition: 400ms;
    
    
}

.btns:hover{
    color: black;
    background: red;
    font-weight: 600;
    transition: 400ms;
    border: 1px solid black;
    
}